<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel='icon' href='static/favicons/laserbot.ico' type='image/x-icon'/ >
   <title>{{ title }}</title>
</head>

<link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.css" />
<link rel="stylesheet" href="static/css/drawbots.css" />

<script language="javascript" type="text/javascript" src="static/jquery-3.4.1.min.js"></script>
<script language="javascript" type="text/javascript" src="static/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="static/turtle.js"></script>
<script language="javascript" type="text/javascript" src="static/drawbotController.js"></script>
<script language="javascript" type="text/javascript" src="static/drawbotFollowController.js"></script>
<script language="javascript" type="text/javascript" src="static/drawbotP5.js"></script>

<body onload="setTimeout('init();', 100);">
  <main>
   <h1>Drawbots Control Panel</h1>
   <a href="/" class="btn btn-default">Drive Mode</a>

   <center>
      <div><img id="mjpeg_dest" /></div>
   </center>

   <p>Driving distance increment</p>
   <select id="speed">
      <option value="0.1" selected="selected">Distance 1</option>
      <option value="0.2">Distance 2</option>
      <option value="0.3">Distance 3</option>
      <option value="0.4">Distance 4</option>
      <option value="0.5">Distance 5</option>
   </select>
   <button id="stop" onclick="goStop();">STOP</button>

   <p>Instructions: Hold down the left mouse button to have the robot follow it.
   <div id='simContainer'></div>
   <!--<iframe src="{{ video_url }}" width="600px" height="600px" scrolling="no"></iframe> -->
   <br><br><br>
   <h4>The date and time on the server is: {{ time }}</h4>
   <main>
 </body>
</html>
